# Семинар 1

ФОРМУЛА ОЦЕНИВАНИЯ:

* 0.1 х активность на занятиях

* 0.2 х самостоятельные работы

* 0.2 х контрольная работа

* 0.3 х проект и защита проекта

* 0.2 х экзамен

## Установка анаконды (необязательно)


Для тех, у кого винда - https://pythonru.com/baza-znanij/kak-ustanovit-anaconda-na-windows

Для тех, у кого мак ос - https://pythonru.com/baza-znanij/kak-ustanovit-anaconda-na-macos

## Введение в программирование на Python

### Небольшая история Python

Первый релиз Питона состоялся в 1991 году, и опубликовал его один голландец Гвидо Ван Россум, который очень любил смотреть летающий цирк Монти Пайтона, в честь которого и назвал язык программирования. Но всем нравятся змейки (да, ведь?), поэтому со временем они появились и на логотипе Питона.

![image.png]()

### Почему Python популярен

Есть множество причин, почему люди любят питон и вот некоторые из них:

1. Простота использования: простой синтаксис был заложен в питон с самых первых версий. Одной из решаемых задач при создании языка был низкий порог вхождения для новых разработчиков и пользователей
2. Большое комьюнити: чем больше народу, тем меньше шанс, что язык перестанет поддерживаться и развиваться. Кроме того, всегда можно найти ответ на возникший вопрос
3. Множество библиотек: чем больше библиотек, тем меньше вам придется писать кода и ломать голову над каким-либо функционалом. Имея в своем распоряжении множество библиотек, разработка сводится к сборке лего
4. Универсальность: Питон - прикладной язык и может применяться во множестве сфер (включая и вашу, об этом далее)
5. Востребованность: просто зайдите на сайт с вакансиями, вбейте туда Python и посмотрите на их количество и количество денег, которые вам готовы предложить за то, что вы знаете этот простой язык

### Зачем Python нужен в сфере государственного и муниципального управления?

1. Анализ данных: Питон один из ниболее используемых инструментов для анализа данных. А данных в сфере государственного управления очень много (знакомтесь.с ведомством, которое этим занимается - [Росстат](https://rosstat.gov.ru/)). Данных может быть настолько много, что SPSS, Stata, Excel и другие просто не смогут их прочитать. Питон намного более эффективный и мощный инструмент

2. Автоматизация: Увы, но любая работа (особенно в вашей сфере) содержит достаточно большое число рутинных операций, которые будут съедать ваше свободное время и заставлять сидеть в офисе под тусклой лампой до поздна. Более продвинутые сотрудники могут использовать средства для автоматизации их рутины (и, соответственно, имеют больше возможностей для скорейшего продвижения по карьерной лестнице). Питон - один из таких инструментов

3. Интеграция различных процессов внутри ведомства: часть ваших будущих коллег будут передавать вам данные в SPSS, часть коллег доставит вам стопку бумажных документов, часть информации вы услышите от недовольных жителей и запишите себе в Excel. Все эти процессы имеют разную природу и реагировать на них вы будете по-разному, но все процессы внутри ведомства связаны. И связать их можно либо используя ваш ресурс (опять же, за счет вашего времени), либо за счет более продвинутых средств вроде автоматических скриптов на Python

### Введение в Jupyter Notebook (или где мы с вами читаем это все?)

Юпитер Ноутбуки - это по сути виртуальные тетрадки, которые могут содержать исполняемый код, уравнения, визуализации, изображения или обычный текст.

В этих тетрадках вы можете записывать свои идеи, пояснения (как я делаю прямо сейчас), проводить эксперименты с кодом. Вы можете написать код в ячейках тетрадки и сразу же запустить его. Посредством тетрадок питон намного проще изучать, нежели используя сырые исходные коды.

В этих тетрадках можно записывать код не только на питоне, но и на других языках программирования, например, R (с ним вы столкнетесь на старших курсах и предпочтение между питоном и R будет лишь за счет ваших вкусовов).

Кроме того, тетрадки юпитера отлично подходят для коллаборации между людьми: вы можете передавать тетрадки друг другу и видеть выводы и графики, которые были построены (в нашем курсе опция распространения тетрадок лишь моя прерогатива, вам же делиться решениями друг с другом **не** разрешается).

## Посвящение в программисты

In [ ]:
print('Hello world')

Hello world

## Создание переменной в питоне

Общий синтаксис

**`имя переменной = объект`**

Например, создадим переменную a, которой присвоим значение 1:

In [ ]:
a = 1

In [ ]:
print(a)

1

Предположим, я хочу назвать переменную 1qwerty — проверим, получится или нет:

In [ ]:
1qwerty = 2

SyntaxError: invalid decimal literal (<ipython-input-3-f9d2c19decdd>, line 1)

Выдается ошибка SyntaxError, которая явно свидетельствует, что что-то с названием переменной не так. Но тогда, как можно называть переменные, а как нельзя?

Переменные в  Python подчиняются следующим правилам:

* имя переменной может содержать только буквенно-цифровые символы и символы подчеркивания (A-Za-z, 0–9 и _)
* имя переменной должно начинаться с буквы или символа подчеркивания
имя переменной не может начинаться с цифры
* в имени переменной не должно быть пробелов
* имя не должно совпадать со служебными (зарезервированными) словами в Python

Список зарезервированных слов можно узнать так:

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Базовые типы данных в питоне

### Обзор базовых типов данных в Python

В питоне существует множество типов данных, которые используются для представления различных типов информации:

1. Целые числа (Integers, int): это числа вроде 1, 2, 3, -100, 0, 42. В питоне они представлены типом **`int`**. Например: **`a = 1`**

2. Числа с плавающей запятой (floating-point numbers, float): это числа вроде 3.1415, 12.32, 12.0, 0.0, -12.03. В питоне они представляются типом **`float`**. Например: **`b = 3.14`**

3. Строки (string, str): Строки это последовательности символов, такие как "Hello World!" или "Python". В питоне они представляются типом **`str`**. Сами строки заключаются в одинарные **`'`** или двойные кавычки **`"`**. Например: **`c = "Hello World!"`**

Существуют и другие типы данных, но мы их рассмотрим на следующих семинарах

In [ ]:
c = 'Hello world'
print(type(c))
b = "Hello world"
print(type(b))

<class 'str'>
<class 'str'>

In [ ]:
type(a)

int

In [ ]:
type(3.14)

float

### Примеры арифметических операций с int и float значениями

In [ ]:
print(b)

Hello world

In [ ]:
print(4)

4

In [ ]:
print('aaa')

aaa

In [ ]:
# Считаем бюджет

personnel_costs = 15000
equipment_costs = 20000
supplies_costs = 5000

total_budget = personnel_costs + equipment_costs + supplies_costs
print("Total budget:", total_budget)

Total budget: 40000

In [ ]:
# Подсчет демографического прогноза

current_population = 100000
birth_rate = 0.02
death_rate = 0.01

projected_population = current_population * (1 + birth_rate - death_rate)
print("Projected population:", int(projected_population))

Projected population: 101000

In [ ]:
int(4.3)

4

In [ ]:
type(projected_population)

float

In [ ]:
# Распределение ресурсов

total_resources = 100
resource_allocation_percentage = 0.3

allocated_resources = total_resources * resource_allocation_percentage
print("Allocated resources:", allocated_resources)

Allocated resources: 30.0

### Примеры операций со строкам

In [ ]:
# Конкатенация строк

name = "Вася"
last_name = 'Пупкин'

full_name = name + ' ' + last_name
print("Full name:", full_name)

Full name: Вася Пупкин

In [ ]:
# Повторение строки

message = "Hello"

repeated_message = message * 3
print("Repeated message:", repeated_message)

Repeated message: HelloHelloHello

In [ ]:
# Индексация строк
temp = 'Python'
print(temp[2])
print(temp[0])

t
P

![image.png]()

Срезы в питоне:

* word[A:B] - целочисленные индексы в интервале [A; B)
* word[:B]  - целочисленные индексы в интервале [0; B)
* word[A:B:H] - целочисленные индексы в интервале [A:B), {A+H, A+2H, A+3H, ..., B}

In [ ]:
[2,5)

In [ ]:
word[1:5:2]

'yh'

In [ ]:
# Срез (Slice) строки

word = "Python"

first_three_letters = word[:3]
print("First three letters:", first_three_letters)

First three letters: Pyt

In [ ]:
letters = word[1:3]
print("First three letters, from first:", letters)

First three letters, from first: yt

In [ ]:
letters = word[1:5:2]
print("First three letters, from first:", letters)

First three letters, from first: yh

In [ ]:
# Форматирование строк

name = input()
age = str(input())

# количество параметров в format такое же,
# как и количество {} в строке
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

Коля
23
My name is Коля and I am 23 years old.

In [ ]:
"My name is "+ name +" and I am " + str(age) + " years old."

'My name is Коля and I am 23 years old.'

In [ ]:
# Получить длину строки

word = "Python"

word_length = len(word)
print("Word length:", word_length)

Word length: 6

In [ ]:
# upper - возвести все буквы в верхний регистр

string = "Hello World"
string = string.upper()
print(string)

HELLO WORLD

In [ ]:
# lower - в нижний регистр

string = "Hello World"
print(string)
temp = 'world'

Hello World

In [ ]:
temp in string

False

In [ ]:
bool: True/False

bool

In [ ]:
# Проверить вхождение подстроки в строку

word = "Python"

is_p_in_word = "P" in word
print("Is 'P' in the word?", is_p_in_word)

is_p_in_word = "p".upper() in word.upper()
print("Is 'p' (small) in the word?", is_p_in_word)

Is 'P' in the word? True
Is 'p' (small) in the word? True

Upper PYTHON

In [ ]:
# Капитализация слова

word = "PYTHON IS AWESOME"

capitalized_word = word.capitalize()
print("Capitalized word:", capitalized_word)

Capitalized word: Python is awesome

In [ ]:
# replace - заменить подстроку на другую подстроку

string = "Hello World"
print(string)
string = string.replace("World", "Python")
print(string)

Hello World
Hello Python

In [ ]:
# Мы можем использовать символ \n для переноса строки и \t для установки табуляции

string = "Hello World\n\t"
string += "I am learning Python"
print(string)

Hello World
	I am learning Python

In [ ]:
a = '\taaabbb'
print(a)

	aaabbb

In [ ]:
a = 'a'
b = 'c'
# a = a + b
a += b
print(a)

ac

In [ ]:
# Форматирование строки .format

name = "John"
string = "My name is {}".format(name)
print(string)

My name is John

In [ ]:
# f-строки, упрощенный и более красивый синтаксис для подстановки значений в строки

name = "John"
age = 30
string = f"My name is {name} and I am {age} years old"
print(string)

My name is John and I am 30 years old

In [ ]:
# Для создания многострочных строк, вы можете использовать тройные кавычки (одинарные или двойные)

string = """This is a
  multiline
  gs
  gdf
  ghdf
  hgfd

  "fds"

string"""

print(string)

This is a
  multiline
  gs
  gdf
  ghdf
  hgfd

  "fds"

string

In [ ]:
# Если мы хотим разбить строку на несколько только для разработчика, то можем использовать экранирование

string = "This is a \
multiline \
string"

print(string)

This is a multiline string

### Арифметические операции

В питоне вам доступны все известные из математики арифметические операции:

1. Сложение: **`+`**
2. Вычитание: **`-`**
3. Умножение: **`*`**
4. Деление: **`/`**

In [ ]:
# Сложение

a = 10
b = 20

c = a + b
print("Sum:", c)

Sum: 30

In [ ]:
# Сложение

a = 10
b = 20

print("Sum:", a + b)

Sum: 30

In [ ]:
# Вычитание

a = 30
b = 20

c = a - b
print("Difference:", c)

Difference: 10

In [ ]:
# Умножение

a = 10
b = 20

c = a * b
print("Product:", c)

Product: 200

In [ ]:
# Деление

a = 30
b = 20

c = a / b
print("Quotient:", c)

Quotient: 1.5

Операции могут быть немного сложнее. Так, например, в питоне 3 вида деления (все они реально необходимы), разберемся в них:

1. Деление с результатом в виде float числа: **`/`**
2. Деление нацело (с округлением вниз): **`//`**
3. Остаток от деления, он же модуль: **`%`**

In [ ]:
# Деление с результатом в виде float числа

a = 10
b = 3

c = a / b
print("Division (with decimal result):", c)

Division (with decimal result): 3.3333333333333335

In [ ]:
# Деление нацело (с округлением вниз)

a = 10
b = 3

c = a // b
print("Integer division:", c)

Integer division: 3

In [ ]:
# Остаток от деления

a = 10
b = 3

c = a % b
print("Modulus:", c)

Modulus: 1

Где они могут применяться:

1. Остаток от деления (модуль): Если вы разделите 10 на 3, то результат 3 с остатком 1. Оператор модуля вернет этот остаток, который равен единице. Этот оператор весьма полезен в различных реальных сценариях, таких как проверка числа на четность (четное и нечетное, делится на 2 с о статком или без) или поиска для недели на определенную дату.
2. Деление нацело: Деление нацело округляет результат деления вниз. Например, если разделить 10 на 3, то результат 3.3333..., но с целочисленным делением результат будет 3. Эта операция может быть полезна, если вам нужно знать сколько раз одно число помещается в другое, без каких-либо дробных частей.

In [ ]:
year = 2024
year % 4

0

In [ ]:
# Сколько денег выделить каждому отделу, если каждый из них должен получить поровну в рублях

budget = 100001
number_of_departments = 5

allocation_per_department = budget // number_of_departments
print("Allocation per department:", allocation_per_department)

Allocation per department: 20000

В дополнение к базовым арифметическим операциям, питон поддерживает и продвинутые операции, такие как возведение в степень и взятие квадратного корня:

1. Возведение в степень: **
2. Квадратный корень: **`math.sqrt(x)`** (где **`x`** - число от которого вы хотите взять корень, обратите внимание, используется библиотека math)

In [ ]:
# Возведение в степень

a = 2
b = 3

c = a ** b
print("Exponentiation:", c)

Exponentiation: 8

In [ ]:
# Квадратный корень
import math
# from math import pi
pi = 3.141592653589793
a = 16


# print("Square root:", sqrt(a))
print(pi)

3.141592653589793

In [ ]:
math.pow(2, 3)

8.0

# Ввод данных с клавиатуры

In [ ]:
inp = input()

4.2

In [ ]:
print(inp)
print(type(inp))

4.2
<class 'str'>

In [ ]:
a = int(input())
type(a)

5

int

In [ ]:
a = input()
type(a)

True

str

In [ ]:
a = input()
type(a)

Hello

str

In [ ]:
a = int(input())
type(a)

1

int

In [ ]:
a = float(input())
type(a)

3.2

float

In [ ]:
a = int(input())
type(a)

oasd

ValueError: invalid literal for int() with base 10: 'oasd'

In [ ]:
a = input('Введите переменную: ')
print(a)

Введите переменную: 4
4